# -------------------------------
# Python
# -------------------------------

__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------------
# Project Secrets & Config
# -------------------------------

.env

instance/
*.local

config.py

# -------------------------------
# IDE & OS
# -------------------------------

.vscode/
.idea/

.DS_Store

Thumbs.db

# -------------------------------
# Data & Logs
# -------------------------------

*.sqlite3
*.db
*.sqlite

*.log

# -------------------------------
# Test & Coverage
# -------------------------------

.pytest_cache/
.coverage
htmlcov/